<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pets Hotel</title>
  </head>
  <body>
    <nav id="navbar">
      <ul>
        <li><a href="/">Pets Home</a></li>
        <li><a href="#">Cadastrar</a></li>
        <li><a href="/pets">Pets</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>