<div class="items">
    <h1>Pets no Hotel:</h1>
    <div class="pets-container">
        <table class="table-data">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome do Dono</th>
                    <th>Nome do Pet</th>
                </tr>
            </thead>
            <tbody>
                {{#each pets}}
                    <tr>
                        <td>{{this.id}}</td>
                        <td>{{this.nomeDono}}</td>
                        <td><a href="/pets/{{this.id}}">{{this.nomePet}}</a></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>