<div class="items-table">
    <div class="tabela-titulo">
        <h3>Pets no Hotel</h3>
    </div>
    <div >
        <table class="table table-sm table-hover align-middle">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col" style="width: 60vh;">Nome do Dono</th>
                    <th scope="col" style="width: 60vh;">Nome do Pet</th>
                    <th scope="col">Opções</th>
                </tr>
            </thead>
            <tbody>
                {{#each pets}}
                    <tr>
                        <td>{{this.id}}</td>
                        <td>{{this.nomeDono}}</td>
                        <td>{{this.nomePet}}</td>
                        <td>
                            <a class="btn btn-primary" href="/pets/{{this.id}}">Visualizar</a>
                            <a class="btn btn-secondary" href="">Editar</a>
                            <a class="btn btn-danger" href="">Apagar</a></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

